*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #727272;
}
.wrap{
  $H_f_bgColor:#00BCD4;
  &{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
  }
  .headerBox,.footerBox{
    height: 80px;
    flex-grow: 0;
    background-color: $H_f_bgColor;
  }
  .contentBox{
    &{
      flex-grow: 1;
    }
    .contentInner{

    }
  }
}
